main {
    display: flex;
    flex-direction: column;
    gap: var(--val-root-content-gap);
}

h3 {
    font-size: 130%;
}

.image-wrapper, .text-wrapper, .sec-testimonials {
    width: 50%;
}

img.coffee {
    /* width: 300px;
    height: 300px;
    min-width: 150px;
    min-height: 150px;  */
    width: 20vw; 
    height: 20vw; 
    max-width: 300px; 
    max-height: 300px; 
    min-width: 150px; 
    min-height: 150px; 
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--col-l-grey);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#brand {
    color: var(--col-brown);
}

#thumb {
    font-size: 130%;
}

.sec-testimonials {
    position: relative;
    display: flex;
    flex-direction: column;
}

h3.testimonials-title{
    border: 4px solid var(--col-brown-alpha15);
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    width: 66%;  
    margin: auto;
    padding: 0.5rem 1rem;
    background: linear-gradient(to bottom, rgba(127, 127, 127, 0.05), rgba(127, 127, 127, 0.2)), var(--col-khaki-alpha50);
    z-index: 23;
    background-clip: border-box;
}

h3.testimonials-title.bottom {
    border-bottom: 4px solid var(--col-brown-alpha15);
    border-top: none;
    border-radius: 0 0 10px 10px;
}

#small-h3-title{
    display: none;
}

.testimonials {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.75rem 1.75rem;
    background: var(--col-khaki-alpha50);
    border-radius: 20px;
    background-clip: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 4px solid var(--col-brown-alpha15);
}

.review {
    flex: 1 1 30%;
    /* flex: 1; */
    border-right: 2px solid var(--col-brown-alpha15);
}

.review:last-child {
    border: none;
}

.name {
    font-weight: bold;
    font-size: 110%;
}

.rating {
    color: var(--col-khaki);
    -webkit-text-stroke: 1px var(--col-brown);
}

.location-card {
    display: flex;
    flex-direction: row;
    background: linear-gradient(to top, rgba(0, 6, 6, 0.1), rgba(128, 6, 6, 0) 33%), var(--col-p-coffee);
    padding: 2rem;
    border: 4px solid var(--col-khaki-alpha50);
    border-radius: 20px;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.loc-icon {
    color: var(--col-brown-alpha50);
    font-size: 4rem;

}

.location-icon {
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.address {
    font-size: 140%;
    font-weight: bold;
    font-style: italic;
    color: var(--col-brown-alpha50);
}

@media screen and (max-width: 1024px){
    .image-wrapper, .text-wrapper {
        width: 80%;
    }

    .sec-testimonials {
        /* flex-direction: column; */
        width: 50%;
        min-width: 300px;
        /* gap: 2rem; */
    }

    .testimonials {
        flex-direction: column;
    }

    .review {
        border-right: none;
        border-bottom: 2px solid var(--col-brown-alpha15);
        /* margin-bottom: 2rem; */
        padding: 0.5rem 0 0.5rem 0;
        width: 100%;
    }

    .review:last-child {
        border-bottom: none;
        /* margin-bottom: none; */
        padding: 0.5rem 0 0 0;
    }
}

@media screen and (max-width: 1300px) {
    h3.testimonials-title {
        display: none;
    }
    #small-h3-title {
        display: inline;
    }
}


@media screen and (max-width: 768px){
    .image-wrapper, .text-wrapper {
        width: 100%;
    }
    .item-wrapper {
        flex-direction: column;
    }
}

@media screen and (max-width: 509px){
    .review {
        font-size: 14px;
    }

}

@media screen and (max-width: 383px) {
    h2 {
        font-size: 22px;
    }
}